{% extends 'base.html.twig' %}

{% block translation_map_detail %}

<div class="row">
    <div class="col-md-12">
        <h1>Tranlsation Map</h1>
        {{ form_start(form) }}
     
        <table class="table">
            <tr>
                <td><span>Entity:</span> {{ form_widget(form.entity)  }} </td>
                <td><span>Entity ID:</span> {{ form_widget(form.entity_id)  }} </td>
                <td><span>Field Name:</span> {{ form_widget(form.field_name)  }} </td>
                <td><span>English:</span> {{ form_widget(form.en)  }} </td>
                  <td><span>Russin:</span> {{ form_widget(form.ru)  }} </td>
                <td>{{ form_widget(form.save, {'attr': {'class':'btn btn-success'} }) }}
                    <a href="/translation_map/list" class="btn btn-danger btn-sm">Cancel</a>
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>
</div> 
{% endblock %}
