{% extends 'base.html.twig' %}

{% block payment_type_list %}
<style>
.paginator {
    margin-left: 10px;
}
</style>
 <script type="text/javascript" src="{{ asset('bundles/js/delete.js') }}"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<div class="row">
    <div class="col-md-12">
       {{ include('progress_bar.html.twig') }}
        <h1>Translation Map</h1>
        <table class="table table-striped table-hover">
           <thead>
            <tr>
                <th>ID</th>
                <!-- Pginaror Sortable Column-->
                <th>{{ knp_pagination_sortable(translationmap, 'Entity' , 'entity') }}</th>
                <th>Entity ID</th>
                <th>Field Name</th>
                <th>English</th>
                <th>Russian</th>
            </tr>
           </thead>
           <tbody>
           {% for t in translationmap %}
            <tr data-id="{{ t.id  }}">
                <td> {{ t.id }} </td>
                <td> {{ t.entity }} </td>
                <td> {{ t.entityID }} </td>
                <td> {{ t.fieldName }} </td>
                <td> {{ t.en }} </td>
                <td> {{ t.ru }} </td>
                <td>
                    <a href="/translation_map/update?id={{ t.id }}" class="btn btn-defualt btn-sm">Edit</a>
                    {{ form_start(delete_form_ajax, { 'attr' : { 'id': 'form-delete' }}) }}
                    {{ form_widget(delete_form_ajax) }}
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete" >

                    {{ form_end(delete_form_ajax) }}
                </td>
            </tr>
           {% endfor %}
           </tbody>
        </table>
        <div class="paginator">
            {{ knp_pagination_render(translationmap) }}
        </div>
    </div>
</div>
{% endblock %}

