{% extends 'base.html.twig' %}

{% block translation_map_save %}

<div class="row">
    <div class="col-md-12">
        <h1>Create New Translation Map</h1>
        {{ include('result_message.html.twig') }}
        {{ form_start(form) }}
        <table class="table">
            <tr>
                <th>Entity</th>
                <th>Entity ID</th>
                <th>Field Name</th>
                <th>English</th>
                <th>Russian</th>
                <th>Option</th>
            </tr>
            <tr>
                <td>{{ form_widget(form.entity) }}
                <td>{{ form_widget(form.entity_id) }}
                <td>{{ form_widget(form.field_name) }}
                <td>{{ form_widget(form.en) }}
                <td>{{ form_widget(form.ru) }}
                <td>{{ form_widget(form.save, { 'attr' : { 'class': 'btn btn-success' }}) }}
            </tr>
        </table>
        {{ form_end(form) }}
   </div>
</div> 
{% endblock %}
