{% extends 'base.html.twig' %}

{% block category_detail %}

    <div class="row">
        <div class="col-md-12">
            <h1>Category</h1>
            {{ form_start(form) }}

            <table class="table">
                <tr>
                    <td><span>Name:</span> {{ form_widget(form.name)  }} </td>
                    <td><span>description:</span> {{ form_widget(form.description)  }} </td>
                    <td>  <img class="img-circle img-bordered-primary" src="{{ asset('upload/images/') }}{{ img_link }}" width="50" />
                        {{ form_widget(form.file, {'attr': {'class':''} }) }}</td>
                    <td>{{ form_widget(form.save, {'attr': {'class':'btn btn-success'} }) }}
                        <a href="/category/list" class="btn btn-danger btn-sm">Cancel</a>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div> 
{% endblock %}
