{% extends 'base.html.twig' %}

{% block category_list %}
    <style>
        .paginator {
            margin-left: 10px;
        }
    </style>
    <script type="text/javascript" src="{{ asset('bundles/js/delete.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <div class="row">
        <div class="col-md-12">
            {{ include('progress_bar.html.twig') }}
            <h1>Category</h1>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <!-- Pginaror Sortable Column-->
                        <th>{{ knp_pagination_sortable(categorys, 'Name' , 'name') }}</th>
                        <th>Description</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in categorys %}
                        <tr data-id="{{ c.id  }}">
                            <td> {{ c.id }} </td>
                            <td> {{ c.name }} </td>
                            <td> {{ c.description }} </td>
                            <td><img class="img-responsive" src="{{ asset('upload/images/') }}{{ c.category_image }}" style="max-width:50px;"></td>
                            <td>
                                <a href="/category/update?id={{ c.id }}" class="btn btn-defualt btn-sm">Edit</a>
                                {{ form_start(delete_form_ajax, { 'attr' : { 'id': 'form-delete' }}) }}
                                {{ form_widget(delete_form_ajax) }}
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete" >

                                {{ form_end(delete_form_ajax) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="paginator">
                {{ knp_pagination_render(categorys) }}
            </div>
        </div>
    </div>
{% endblock %}

