{% extends 'base.html.twig' %}

{% block category_save %}

    <div class="row">
        <div class="col-md-12">
            <h1>Create New Category</h1>
            {{ include('result_message.html.twig') }}
            {{ form_start(form) }}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Option</th>
                </tr>
                <tr>
                    <td>{{ form_widget(form.name) }}
                    <td>{{ form_widget(form.description) }}
                    <td> {{ form_widget(form.file, {'attr': {'class':''} }) }}</td>
                    <td>{{ form_widget(form.save, { 'attr' : { 'class': 'btn btn-success' }}) }}
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div> 
{% endblock %}
