{% extends 'base.html.twig' %}

{% block body %}

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <style>
.paginator {
    margin-left: 10px;
}
table, tr, td {
    border: 1px solid black;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>All Users</h1>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Active</th>
                </tr>

                {% for user in users %}
                <tr onclick="document.location = '{{path('user.edit', {id: user.id}) }}'" style="cursor: pointer;">

                    <td>
                        {{user.username}}

                    </td>
                    <td> {{ user.email }} </td>
                    <td>
                        {% if user.isactive == "1" %}
                            <input checked disabled data-toggle="toggle" type="checkbox">
                        {% else %}
                            <input disabled data-toggle="toggle" type="checkbox">
                        {% endif %}
                    </td>

                </tr>
               {% endfor %}
            </table>
        </div>
    </div>
</div>
    
    
    
    
    
    
    

{% endblock %}
