{% extends 'base.html.twig' %}

{% block service_frequency_detail %}

<div class="row">
    <div class="col-md-12">
        <h1>Service Frequency</h1>
        {{ form_start(form) }}
     
        <table class="table">
            <tr>
                <td><span>Name:</span> {{ form_widget(form.name)  }} </td>
                <td>{{ form_widget(form.save, {'attr': {'class':'btn btn-success'} }) }}
                    <a href="/service_frequency/list" class="btn btn-danger btn-sm">Cancel</a>
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>
</div> 
{% endblock %}
