{% extends 'base.html.twig' %}

{% block payment_type_detail %}

<div class="row">
    <div class="col-md-12">
        <h1>Payment Type</h1>
        {{ form_start(form) }}
     
        <table class="table">
            <tr>
                <td><span>Name:</span> {{ form_widget(form.name)  }} </td>
                <td><span>Public Key One:</span> {{ form_widget(form.public_key)  }} </td>
                <td><span>Public Key Two:</span> {{ form_widget(form.public_key_two)  }} </td>
                <td>{{ form_widget(form.save, {'attr': {'class':'btn btn-success'} }) }}
                    <a href="/paymenttype/list" class="btn btn-danger btn-sm">Cancel</a>
                  {#  <form action="charge.php" method="post">
                        <?php require_once('./config.php'); ?>
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key= '{{process.publicKey}}'
                            data-amount='{{payment_type.publicKeyTwo }}'
                            data-name="GTS"
                            data-description="Payment"
                            data-image="http://www.pvhc.net/img230/wwmzvimyxxbnypbcijxe.jpg"
                            data-locale="auto"
                            data-zip-code="true">
                        </script>
                    </form> #}
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>
</div> 
{% endblock %}
