{% extends 'base.html.twig' %}

{% block payment_type_save %}

<div class="row">
    <div class="col-md-12">
        <h1>Create New Payment Type</h1>
        {{ include('result_message.html.twig') }}
        {{ form_start(form) }}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Public Key One</th>
                <th>Public Key Two</th>
                <th>Option</th>
            </tr>
            <tr>
                <td>{{ form_widget(form.name) }}
                <td>{{ form_widget(form.public_key) }}
                <td>{{ form_widget(form.public_key_two) }}
                <td>{{ form_widget(form.save, { 'attr' : { 'class': 'btn btn-success' }}) }}
            </tr>
        </table>
        {{ form_end(form) }}
   </div>
</div> 
{% endblock %}
