{% extends 'base.html.twig' %}

{% block scan %}


    <div style="min-height: 300px; padding:50px;">
        {{ form_start(form, {'attr': {'id':'form_payment_report'} }) }}
           <!-- <div id="reportView" class="col-xs-12"></div> -->
        <label for="formGroupExampleInput">Sacan QR Code</label>
        <input type="text" class="form-control" name="account_number" id="account_number" autofocus />
        {{ form_end(form) }}
        <h1>Participant Name: {{ firstname }}</h1>
        <h1>Account Number: {{ account_number }}</h1>
        {% if scan_count == 0 %}
            <h1>Message: <font size="9" color="red">{{ message }}</font></h1>
        {% else %}
            <h1>Message: {{ message }}</h1>
        {% endif %}
        <h1>Scan Count: {{ scan_count }}</h1>
    </div>



{% endblock %}