{% extends 'base.html.twig' %}

{% block service_transaction_detail %}
    <div class="row">
        <div class="col-md-12">
            <h1>Service Transaction</h1>
            {{ form_start(form) }}

            <table class="table">
                <tr>
                    <td><span>Account Number:</span> {{ form_widget(form.account_number)  }} </td>
                    <td><span>Paid:</span> {{ form_widget(form.paid)  }} </td>
                    <td><span>Status:</span> {{ form_widget(form.status)  }} </td>
                    <td><span>Paid Date:</span> {{ form_widget(form.paid_date)  }} </td>
                    <td><span>Service:</span> {{ form_widget(form.service)  }} </td>
                    <td><span>Payment Type:</span> {{ form_widget(form.payment_type)  }} </td>
                    <td><span>User:</span> {{ form_widget(form.user)  }} </td>
                    <td>{{ form_widget(form.save, {'attr': {'class':'btn btn-success'} }) }}
                        <a href="/service_transaction/list" class="btn btn-danger btn-sm">Cancel</a>
                    </td>
                </tr>
            </table>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}
            {{ form_end(form) }}
        </div>
    </div> 
{% endblock %}
