{% extends 'base.html.twig' %}

{% block service_transaction_list %}
    <style>
        .paginator {
            margin-left: 10px;
        }
    </style>
    <script type="text/javascript" src="{{ asset('bundles/js/delete.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <div class="row">
        <div class="col-md-12">
            {{ include('progress_bar.html.twig') }}
            <h1>Service Transaction</h1>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-warning">
                    <strong>Warning!</strong>  {{ message }}
                </div>

            {% endfor %}
            {{ form_start(form) }}
            <table class="table">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Service</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>{{ form_widget(form.dateStart) }}
                    <td>{{ form_widget(form.dateEnd) }}
                    <td>{{ form_widget(form.service) }}
                    <td>{{total_service_transaction.totalAmount}}
                    <td>{{ form_widget(form.submit, { 'attr' : { 'class': 'btn btn-success' }}) }}
                </tr>
            </table>
            {{ form_end(form) }}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <!-- Pginaror Sortable Column-->
                        <th>{{ knp_pagination_sortable(service_transaction, 'Account Number' , 'accountNumber') }}</th>
                        <th>{{ knp_pagination_sortable(service_transaction, 'Payment Type' , 'paymentType.name') }}</th>
                        <th>{{ knp_pagination_sortable(service_transaction, 'User' , 'user.username') }}</th>
                        <th>{{ knp_pagination_sortable(service_transaction, 'Service' , 'service.name') }}</th>
                        <th>Paid</th>
                        <th>Status</th>
                        <th>{{ knp_pagination_sortable(service_transaction, 'Scan Count' , 'scanCount') }}</th>
                        <th>{{ knp_pagination_sortable(service_transaction, 'Paid Date' , 'paidDate') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for st in service_transaction %}
                        <tr data-id="{{ st.id  }}">
                            <td> {{ st.id }} </td>
                            <td> {{ st.accountNumber }} </td>
                            <td> {{ st.paymentType.name}} | {{st.paymentType.publicKey }} | {{st.paymentType.publicKeyTwo }} </td>
                            <td> {{ st.user.username }} </td>
                            <td> {{ st.service.name }}| {{st.service.serviceFrequency.name}} </td>
                            <td> {{ st.paid }} </td>
                            <td> {{ st.status }} </td>
                            <td> {{ st.scanCount }} </td>
                            <td> {{ st.paidDate|date("Y/m/d") }} </td>
                            <td>
                                <a href="/service_transaction/update?id={{ st.id }}" class="btn btn-defualt btn-sm">Edit</a>
                                {{ form_start(delete_form_ajax, { 'attr' : { 'id': 'form-delete' }}) }}
                                {{ form_widget(delete_form_ajax) }}
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete" >
                                <a href="/send_mail?user_id={{ st.user.id }}&account_number={{st.accountNumber}}&service_id={{ st.service.id }}" class="btn btn-info">Send Mail</a>
                                {{ form_end(delete_form_ajax) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="paginator">
                {{ knp_pagination_render(service_transaction) }}
            </div>
        </div>
    </div>
{% endblock %}

