{% extends 'base.html.twig' %}

{% block service_transaction_save %}

    <div class="row">
        <div class="col-md-12">
            <h1>Create New Service Transaction</h1>
            {{ include('result_message.html.twig') }}
            {{ form_start(form) }}
            <table class="table">
                <tr>
                    <th>Account Number</th>
                    <th>Paid</th>
                    <th>Status</th>
                    <th>Paid Date</th>
                    <th>Payment Type</th>
                    <th>Service</th>
                    <th>user</th>

                    <th>Option</th>
                </tr>
                <tr>
                    <td>{{ form_widget(form.account_number) }}
                    <td>{{ form_widget(form.paid) }}
                    <td>{{ form_widget(form.status) }}
                    <td>{{ form_widget(form.paid_date) }}
                    <td>{{ form_widget(form.payment_type) }}
                    <td>{{ form_widget(form.service) }}
                    <td>{{ form_widget(form.user) }}
                    <td>{{ form_widget(form.save, { 'attr' : { 'class': 'btn btn-success' }}) }}
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div> 
{% endblock %}
