{% extends 'base.html.twig' %}

{% block service_detail %}

    <div class="row">
        <div class="col-md-12">
            <h1>Service</h1>
            {{ form_start(form) }}

            <table class="table">
                <tr>
                    <td><span>Name:</span> {{ form_widget(form.name)  }} </td>
                    <td><span>Description:</span> {{ form_widget(form.description)  }} </td>
                    <td><span>Price:</span> {{ form_widget(form.price)  }} </td>
                    <td><span>Location:</span> {{ form_widget(form.location)  }} </td>
                    <td><span>Start Date:</span> {{ form_widget(form.startDate)  }} </td>
                    <td>  <img class="img-circle img-bordered-primary" src="{{ asset('upload/images/') }}{{ img_link }}" width="100" />
                        {{ form_widget(form.file, {'attr': {'class':''} }) }}</td>
                     <td><span>Category:</span> {{ form_widget(form.category)  }} </td>
                    <td><span>Service Frequency:</span> {{ form_widget(form.service_frequency)  }} </td>
                    <td>{{ form_widget(form.save, {'attr': {'class':'btn btn-success'} }) }}
                        <a href="/service/list" class="btn btn-danger btn-sm">Cancel</a>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div> 
{% endblock %}
