{% extends 'base.html.twig' %}

{% block service_list %}
<style>
.paginator {
    margin-left: 10px;
}
</style>
<script type="text/javascript" src="{{ asset('bundles/js/delete.js') }}"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<div class="row">
    <div class="col-md-12">
       {{ include('progress_bar.html.twig') }}
        <h1>Service</h1>
        <table class="table table-striped table-hover">
           <thead>
            <tr>
                <th>ID</th>
                <!-- Pginaror Sortable Column-->
                <th>{{ knp_pagination_sortable(services, 'Name' , 'name') }}</th>
                <th>Description</th>
                <th>Price</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>Image</th>
                 <th>{{ knp_pagination_sortable(services, 'Category' , 'category') }}</th>
                <th>Service Frequency</th>
            </tr>
           </thead>
           <tbody>
           {% for s in services %}
            <tr data-id="{{ s.id  }}">
                <td> {{ s.id }} </td>
                <td> {{ s.name }} </td>
                <td> {{ s.description }} </td>
                <td> {{ s.price }} </td>
                <td> {{ s.location }} </td>
                <td> {{ s.startDate|date("m/d/Y") }} </td>
                <td><img class="img-responsive" src="{{ asset('upload/images/') }}{{ s.service_image }}" style="max-width:50px;"></td>
                <td> {{ s.category.name | default("") }} </td>
                <td> {{ s.serviceFrequency.name }} </td>
                <td>
                    <a href="/service/update?id={{ s.id }}" class="btn btn-defualt btn-sm">Edit</a>
                    {{ form_start(delete_form_ajax, { 'attr' : { 'id': 'form-delete' }}) }}
                    {{ form_widget(delete_form_ajax) }}
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete" >

                    {{ form_end(delete_form_ajax) }}
                </td>
            </tr>
           {% endfor %}
           </tbody>
        </table>
        <div class="paginator">
            {{ knp_pagination_render(services) }}
        </div>
    </div>
</div>
{% endblock %}

