{% extends 'base.html.twig' %}

{% block service_save %}

    <div class="row">
        <div class="col-md-12">
            <h1>Create New Service</h1>
            {{ include('result_message.html.twig') }}
            {{ form_start(form) }}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Location</th>
                    <th>Start Date</th>
                    <th>Image</th>
                    <th> Category </th>
                    <th>Payment Frequency</th>
                    <th>Option</th>
                </tr>
                <tr>
                    <td>{{ form_widget(form.name) }}
                    <td>{{ form_widget(form.description) }}
                    <td>{{ form_widget(form.price) }}
                    <td>{{ form_widget(form.location) }}
                    <td>{{ form_widget(form.startDate) }}
                    <td> {{ form_widget(form.file, {'attr': {'class':''} }) }}</td>
                    <td>{{ form_widget(form.category) }}
                    <td>{{ form_widget(form.service_frequency) }}
                    <td>{{ form_widget(form.save, { 'attr' : { 'class': 'btn btn-success' }}) }}
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div> 
{% endblock %}
