{% extends 'base.html.twig' %}

{% block login %}
    <script type="text/javascript" src="{{ asset('bundles/js/delete.js') }}"></script>

    <div class="container">
        <div class="card card-container" style="margin:100px auto;">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="{{ path('login') }}" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input id="username" name="_username" class="form-control" placeholder="User or Email address" required autofocus>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a><br/>
            {% if error %}
                <span class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}
        </div><!-- /card-container -->
    </div><!-- /container -->

{% endblock %}
