{% extends 'base.html.twig' %}

{% block search_result %}
    <style>
        .paginator {
            margin-left: 10px;
        }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <div class="row">
        <div class="col-md-12">
            <h1>Account Number: {{ account_number }}</h1>
            {% if scan_count == 0 %}
                <h1>Message: <font size="9" color="red">{{ message }}</font></h1>
            {% else %}
                <h1>Message: {{ message }}</h1>
            {% endif %}
            <h1>Scan Count: {{ scan_count }}</h1>
        </div>
    </div>
{% endblock %}


