{% extends 'base.html.twig' %}

{% block register %}


    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'User sign up'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                            <div class="form-group">
                                <label>{{ 'First Name'|trans }}</label>
                                {{ form_widget(form.firstname, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>
                            <div class="form-group">
                                <label>{{ 'Last Name'|trans }}</label>
                                {{ form_widget(form.lastname, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>
                            <div class="form-group">
                                <label>{{ 'User Name'|trans }}</label>
                                {{ form_widget(form.username, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>

                            <div class="form-group">
                                <label>{{ 'Email'|trans }}</label>
                                {{ form_widget(form.email, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>

                            <div class="form-group">
                                <label>{{ 'Phone'|trans }}</label>
                                {{ form_widget(form.phone, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>

                            <div class="form-group">
                                <label>{{ 'Password'|trans }}</label>
                                {{ form_widget(form.password.first, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>
                            <div class="form-group">
                                <label>{{ 'Repeat Password'|trans }}</label>
                                {{ form_widget(form.password.second, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>


                            <div class="form-group">
                                <label>{{ 'User Image'|trans }}</label>
                                {{ form_widget(form.file, {'attr': {'class':''} }) }}
                            </div>
                        {% if error %}
                            <span class="text-danger">{{ error }}</span>
                        {% endif %}
                        {{ form_widget(form.submit, {'attr': {'class':'btn btn-info btn-block'} }) }}

                        {{ form_end(form)}}

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        $("#user_phone").mask("(996) 999-99-99-99");
    });
</script>

{% endblock %}


